<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gejapao.promessa" >

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        >


        <!--  -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="sensorPortrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--  -->

        <activity
            android:name=".activity.ListEtapas"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <!--  -->
        <activity
            android:name=".activity.Conteudo"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".activity.ListEtapas" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListEtapas" />
        </activity>
    </application>

</manifest>
